.site-header {
    background-color: #d1d1ea;
    color: #23234b;
    height: 100vh;
    font-family: Gabriola ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    margin: 10px;
    font-size: x-large;
    transition: .4s ease;
    position: relative; right: 10%;
}
.site-title-content{
    font-family: Goudy Old Style;
    color: #8d8758;
    font-size: 20px;
    transition: .4s ease;
    position: absolute; top: 0; left: 10px; width: 100px; text-align:left;
}

.profile-pic{
    border-radius: 100%;
    height: 200px;
    width: 200px;
    align-self: center;
    transition: .4s ease;
    box-shadow: #9b9bad 5px 5px 5px;
}

.last-line{
    position: relative; top: 5% ;right: 40%;
    color: #8d8758;
    font-size: 20px;
    transition: .4s ease;
}

body{
    margin: 0;
}

.icons {
    text-decoration: none;
    color: 8d8758;
    position: absolute; bottom: 20%; right: 150px; width: 60px; align-items:left;
}

.icons ion-icon{
    color: #8d8758;
    
    font-size: 60px;
    transition: .4s ease;
}

.icons ion-icon:hover{
    color: #23234b;
}
